/* Global variables */
:root {
  --accent: #811111;
  --accent-bg: #eecfcf;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: #e4b23d;
    --accent-bg: #2b2b2b;
  }
}

dt::after {
  content: ": ";
}

nav a.current {
  color: var(--accent) !important;
  border-color: var(--accent) !important;
}
